<% if conversation.is_unread?(current_user)%>
  <div class='list-conversation-item active'>
<% else %>
  <div class='list-conversation-item'>
<% end %>

  <div class="list-conversation-left-index">
    <%= render 'conversations/participant', conversation: conversation %>
  </div>

  <div class="list-conversation-middle-index">
    <h4><%= link_to conversation.subject, conversation_path(conversation) %></h4>
    <span></span>
    <p><%= conversation.last_message.body %>

        <% if conversation.last_message.subject.match(/wants to be your buddy/) && current_user.requested_friends.include?(conversation.last_message.sender) && !current_user.friends_with?(conversation.last_message.sender) %>
                <%= link_to 'Accept request', friendships_confirm_path(conversation.last_message.sender), method: :post, class: "btn btn-outline-success btn-sm" %>
                <%= link_to 'Decline request', friendships_decline_path(conversation.last_message.sender), method: :post, class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    </span></p>
  </div>

  <div class="list-conversation-right-index">
    <div class="conv-right-up">
      <small><span class="text-muted"><%= conversation.last_message.created_at.strftime("%-D, %H:%M") %></span></small>
    </div>
    <div class="conv-right-down">
      <% if conversation.is_trashed?(current_user) %>
      <%= link_to '<i class="fas fa-trash-restore-alt"></i>'.html_safe, restore_conversation_path(conversation), method: :post %>
      <% else %>
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe, conversation_path(conversation), method: :delete,
                  data: {confirm: 'Are you sure?'} %>
      <% if conversation.is_unread?(current_user) %>
        <%= link_to '<i class="far fa-envelope-open"></i>'.html_safe, mark_as_read_conversation_path(conversation), method: :post %>
      <% end %>
    <% end %>
  </div>
  </div>
  </li>
</div>


