<div class="container-message min-height-container">

  <div class="message-left">
    <div class="inbox-back">
    <h4><%= link_to '<i class="fas fa-inbox fa-lg"></i> Back to inbox'.html_safe, conversations_path%></h4>
    </div>

    <%= form_tag reply_conversation_path(@conversation), method: :post do %>
    <div class="input-message">
      <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
      <%= submit_tag "Send Message", class: 'send-button' %>
    </div>
    <% end %>
  </div>

  <div class="message-right">
    <h1>Chatting with <% @conversation.participants.each do |participant| %>
      <% unless participant == current_user %>
      <%= participant.first_name %>
      <%= gravatar_for participant %><br>
      <% end %>
      <% end %> </h1>
      <h2><%= @conversation.subject %></h2>

      <% @conversation.receipts_for(current_user).sort.reverse.each do |receipt| %>
      <% if receipt.message.sender == current_user %>
      <div class="message-byme">
        <% else %>
        <div class="message-byother">
          <% end %>
          <% message = receipt.message %>
          <%= gravatar_for message.sender, 30 %>
          <span style="font-weight: lighter; font-size: small;"><%= message.created_at.strftime("%-D, %H:%M") %></span>
          <strong><%= message.sender.first_name %></strong>
          <%= message.body %></span>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>




