<h1>My buddies</h1>


    <ul>
      <% if @buddies.empty? %>
        <p>No buddy <i class="fas fa-frown"></i></p>
      <% end %>
      <% @buddies.each do |buddy| %>
        <div class="buddy-card">
            <li>
              <strong><%= buddy.first_name %> <%= buddy.last_name %></strong>
                <%= link_to 'Send message', new_message_path(to: buddy.id), class: 'btn btn-outline-primary btn-sm' %>
              </li>
        </div>
      <% end %>
    </ul>

<h1>Users</h1>

<div class="container w-90">
  <div class="row ">



  <% @users.each do |user| %>

    <div class="buddy-card col-3 text-center">
      <img src="https://source.unsplash.com/1600x900/?golfer" class="buddy-photo" alt="">

      <div class="text-center">
        <strong><%= user.first_name %> <%= user.last_name %></strong>
      </div>
      <div class="text-secondary">
       <%= user.current_city %>
       <p>Handicap: <%= user.handicap%></p>
       <%= user.language %>
      </div>
      <div class="text-center message">
          <% unless current_user == user %>
            <%= link_to 'Message', new_message_path(to: user.id), class: "msg_btn " %>
          <% end %>
      </div>

    </div>
  <% end %>
</div>
  </div>

<%= will_paginate %>

