<h1>My buddies</h1>
  <%= link_to 'Show my personal page', user_path(current_user), class: "btn-friend-games" %>
<ul>
  <% if @buddies.empty? %>
    <p>No buddy <i class="fas fa-frown"></i></p>
  <% end %>
  <% @buddies.each do |buddy| %>
    <li>
      <strong><%= buddy.first_name %> <%= buddy.last_name %></strong>
        <%= link_to 'Send message', new_message_path(to: buddy.id), class: 'btn btn-outline-primary btn-sm' %>
    </li>
  <% end %>
</ul>

<h1>Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <strong><%= user.first_name %> <%= user.last_name %></strong>
      <% unless current_user == user %>
        <%= link_to 'Send message', new_message_path(to: user.id), class: 'btn btn-outline-primary btn-sm' %>
      <% end %>
      <% unless current_user == user || current_user.friends_with?(user) %>
      <%= link_to 'Add friend', friendships_request_path(user), method: :post, class: 'btn btn-outline-secondary btn-sm'  %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
