<div class="min-height-container">
  <div class="row form-test">
    <!--PROFILE COLONNE -->
    <div class="col-xs-12 col-sm-4 color-test2">
      <div class="col profile">
        <p id="notice"><%= notice %></p>
        <div class="edit-button"  >
          <%= link_to 'Edit', edit_user_registration_path(@user) %>
        </div>
        <div class="avatar-profile">
        <%= gravatar_for_show @user %>
        </div>
        <div class="profile-header">
          <h3><strong class="grey-color1"> <%= @user.first_name %>  <%= @user.last_name %></strong></h3>
          <p class="grey-color2">
          <%= image_tag "localisation-golf.png", alt: "alttext" %>
          <%= @user.current_city %>
          <br>
          <%= image_tag "icon-golf.png", alt: "alttext" %>
          <%= @user.handicap %>
        </div>
        <br>
        <%= @user.language %>
        <br>
        <%= @user.about_me %>
        </p>
      </div>
    </div>

    <!-- GAMES COLONNE -->
    <div class="col-xs-12 col-sm-8 color-test4">
      <div class="row color-test3">
        <div class="col">
          <h3 class="position1">Upcomming Games</h3>
        </div>
        <div class="col">
          <h3 class="buddies-h3-1">Past Games</h3>
        </div>
      </div>
      <div>
        <h3 class="buddies-h3-2">Your Next Game</h3>
      </div>
      <!-- NEXT GAME CARD -->
      <% unless @next_game.nil? %>
      <div class="row">
        <div class="card-product">
          <img src="<%= @next_game.course.attachments[0].photo.url %>" />
          <div class="card-product-infos">
            <h2 class="buddies-h2"><%= @next_game.name %></h2>
            <p><%= @next_game.course.name %>
              <br>
              <%= @next_game.date %>
              <%= @next_game.time %>
              <%= link_to game_path(@next_game) do%>
              <div class="btn btn-success">
                <p>View Game</p>
              </div>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <% else %>
        <p>No games</p>
      <% end %>
      <div>
        <h3 class="grey-color">Future Game</h3>
      </div>
      <!-- FUTURE GAMES CARD -->
      <% @future_games.each do |game| %>
      <div class="row">
        <div class="card-product">
          <img src="<%= @game.course.attachments[0].photo.url %>" />
          <div class="card-product-infos">
            <h2 class="buddies-h2-2"><%= game.name %></h2>
            <p><%= game.course.name %>
              <br>
              <%= @next_game.date %>
              <%= @next_game.time %>
              <%= link_to game_path(@next_game) do%>
              <div class="btn btn-success">
                <p>View Game</p>
              </div>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>




<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
test 1
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">test 2</div>
</div>
