<div class="min-height-container">
  <div class="row form-test">
    <!--PROFILE COLONNE -->
    <div class="col color-test2">
      <div class="col color-test3">

        <p id="notice"><%= notice %></p>

        <p><%= gravatar_for @user %><br></p>

        <strong>Name:</strong>
        <%= @user.first_name %> <%= @user.last_name %><br>


        <%= link_to 'Edit', edit_user_registration_path(@user) %>
      </div>
    </div>

    <!-- GAMES COLONNE -->
    <div class="col color-test4">
      <div class="row color-test3">
        <div class="col">
          <h2>Upcomming Games</h2>
        </div>
        <div class="col">
          <h2>Past Games</h2>
        </div>
      </div>
      <div>
        <h3 class="buddies-h3">Your Next Game</h3>
      </div>
      <!-- NEXT GAME CARD -->
      <div class="row">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
      </div>
      <div>
        <h3 class="buddies-h3">Future Game</h3>
      </div>
      <!-- FUTURE GAMES CARD -->
      <div class="row">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>














<!-- CODE EN ATTENTE -->
  # <% if @user != current_user %>
  #   <%= link_to 'Request Friend', friendships_request_path(@user), method: :post, class: 'btn btn-outline-success btn-sm' %>
  #   <% end %>

  # <% if @user == current_user %>
  #   <h2>Friendship requests</h2>
  #     <% @user.requested_friends.each do |req|%>
  #       <p><%= req.first_name %> <%= req.last_name %> wants to be your buddy</p>
  #       <%= link_to 'Accept Friend', friendships_confirm_path(req), method: :post, class: 'btn btn-outline-success btn-sm' %>
  #       <%= link_to 'Decline Friend', friendships_decline_path(req), method: :post, class: 'btn btn-outline-warning btn-sm' %>
  #           <%= link_to 'Send message', new_message_path(to: @user.id), class: 'btn btn-primary btn-sm' %>
  #     <% end %>

  #   <h2>Friendship pending</h2>
  #     <% @user.pending_friends.each do |pend|%>
  #       <p>You ask <%= pend.first_name %> <%= pend.last_name %>to be your buddy</p>
  #         <%= link_to 'Send message', new_message_path(to: @user.id), class: 'btn btn-primary btn-sm' %>
  #     <% end %><br>
  # <% end %>
