<div class="min-height-container">
  <div class="row background">
    <!--PROFILE COLONNE -->
    <div class="col-xs-12 col-sm-4">
      <div class="col profile">
        <div class="edit-button"  >
          <% if current_user== @user%>
          <%= link_to 'Edit', edit_user_registration_path(@user) %>
          <% end %>
        </div>

        <% if !@user.photo.blank? %>
          <div class="avatar-profile">
            <img src= "<%= @user.photo %>", class="rounded-circle" style="height: 140px; width: 140px;" alt="">
          </div>
        <% else %>
          <div class="avatar-profile">
            <%= gravatar_for_show @user %>
          </div>
        <% end %>

        <div class="profile-header">
          <h3><strong class="name"> <%= @user.first_name.capitalize %>  <%= @user.last_name.capitalize %></strong></h3>
          <%= link_to  new_message_path(to: @user.id), class: "message-icon" do %>
                <i class="far fa-envelope fa-lg"></i>
          <% end %>
          <p class="location-handicap">
            <%= image_tag "localisation-golf.png", alt: "alttext", style: "width: 14px; margin-right: 6px" %>
            <%= @user.current_city %>
            <br>
            <%= image_tag "icon-golf.png", alt: "alttext", style: "width: 16px; margin-right: 6px" %>
            Handicap: <%= @user.handicap %>
          </p>
        </div>
        <div class="language">
          <%= image_tag "speaker.png", alt: "alttext", style: "width: 20px; margin-right: 6px" %>Prefered language: <%= @user.language %>
        </div>
        <div class="about-me">
          <p>
            About me:
            <br>
            <%= @user.about_me %>
          </p>
        </div>
      </div>
    </div>

    <!-- GAMES COLONNE -->
    <div class="col-xs-12 col-sm-8 color-test4">
      <div class="row games">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Upcoming Games</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Past Games</a>
          </div>
      </div>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

          <div>
            <h3 class="next-game-h3">Next Game</h3>
          </div>
          <!-- NEXT GAME CARD -->
          <% unless @next_game.nil? %>
          <div class="row">
            <div class="card-product">
              <img class="course-img" src="<%= @next_game.course.attachments[0].photo.url %>" />
              <div class="card-product-infos">
                <h3 class="game-name"><%= @next_game.name %></h3>
                  <p>
                    <%= image_tag "localisation-golf.png", alt: "alttext", style: "width: 15px; margin-right: 6px"%>
                    <%= @next_game.course.name %>
                    <br>
                    <span class="space-btw-info"><%= image_tag "calendar.png", alt: "alttext", style: "width: 14px; margin-right: 6px" %> <%= @next_game.time.strftime("%d/%m/%Y") %>

                    </span>
                    <span> <%= image_tag "clock.png", alt: "alttext", style: "width: 15px; margin-right: 6px"%><%= @next_game.time.strftime("%I:%M %p") %></span>
                  </p>

                  <%= link_to game_path(@next_game) do%>
                  <div class="btn btn-success view-button">
                    <p>View Game</p>
                  </div>
                  <% end %>

              </div>
            </div>
          </div>
          <% else %>
            <p>Your are not registered on a game yet...</p>
          <% end %>
          <div>
            <h3 class="future-games">Future Games</h3>
          </div>
          <!-- FUTURE GAMES CARD -->
          <% @future_games.each do |game| %>
          <div class="row space-btw-card">
            <div class="card-product">
              <img class="course-img" src="<%= game.course.attachments[0].photo.url %>" />
              <div class="card-product-infos">
                <h3 class="game-name"><%= game.name %></h3>
                <p><%= image_tag "localisation-golf.png", alt: "alttext", style: "width: 15px; margin-right: 6px"%><%= game.course.name %>
                  <br>
                  <span class="space-btw-info"><%= image_tag "calendar.png", alt: "alttext", style: "width: 14px; margin-right: 6px" %> <%= game.time.strftime("%d/%m/%Y") %>
                    </span>
                    <span> <%= image_tag "clock.png", alt: "alttext", style: "width: 15px; margin-right: 6px"%><%= game.time.strftime("%I:%M %p") %></span>
                  <%= link_to game_path(game) do%>
                  <div class="btn btn-success view-button">
                    <p>View Game</p>
                  </div>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <!-- PAST GAMES CARD -->
          <% @past_games.each do |game| %>
          <div class="row space-btw-card">
            <div class="card-product">
              <img class="course-img" src="<%= game.course.attachments[0].photo.url %>" />
              <div class="card-product-infos">
                <h3 class="game-name"><%= game.name %></h3>
                <p><%= image_tag "localisation-golf.png", alt: "alttext", style: "width: 15px; margin-right: 6px"%><%= game.course.name %>
                  <br>
                  <span class="space-btw-info"><%= image_tag "calendar.png", alt: "alttext", style: "width: 14px; margin-right: 6px" %> <%= game.time.strftime("%d/%m/%Y") %>
                    </span>
                    <span> <%= image_tag "clock.png", alt: "alttext", style: "width: 15px; margin-right: 6px"%><%= game.time.strftime("%I:%M %p") %></span>
                  <%= link_to game_path(game) do%>
                  <div class="btn btn-success view-button">
                    <p>View Game</p>
                  </div>
                  <% end %>
                </p>
              </div>
            </div>
          </div>
          <% end %>



        </div>
      </div>
    </div>
  </div>
</div>
