<div class="navbar">
  <div class="menu-left1 row">
    <div class="menu-left-home">
      <% if params[:controller] == 'pages' %>
        <li class="menu-left1">
      <% else %>
        <li class="menu-left2">
      <% end %>
      <%= link_to "Home", root_path %>
    </div>
    <div class="menu-left-games">
      <% if params[:controller] == 'games' || params[:controller] == 'courses' %>
        <li class="menu-left1">
      <% else %>
        <li class="menu-left2">
      <% end %>
      <%= link_to "Games", games_upcoming_path %>
    </div>
    <div class="menu-left-buddies">
      <% if params[:controller] == 'users' %>
        <li class="menu-left1">
      <% else %>
        <li class="menu-left2">
      <% end %>
      <%= link_to "Buddies", users_path %>
    </div>
  </div>

  <!-- TEST BURGER DROPDOWN -->
  <div class="burgerleft" onclick="myFunction(this)">

      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>


    <script>
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>
  </div>



  <!-- FIN -->
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "Logo_GolfyBuddy_v2.png", style: "width: 85px;"%>
    <% end %>
  </div>

  <div class="row menu-right">
    <% if user_signed_in? %>
      <!-- HOST BUTTON -->
      <div class="button-host">
          <%= link_to "Host a game", new_game_path, class: "host-button" %>
      </div>


    <div class="avatar1">
        <!-- AVATAR -->
        <% if current_user.photo.blank? %>
          <%= image_tag gravatar_image_url(current_user.email), class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <!-- NOTIFICATION SUR AVATAR -->
        <% if @unread_conversations_count > 0 %>
          <span class="badge">
            <%= @unread_conversations_count %>
          </span>
        <% end %>
    <% else %>
    <!-- LOGIN BUTTON -->
      <div class="login-button">
        <%= link_to "Login", new_user_session_path %>
      </div>
    <% end %>

    </div>
  </div>
    <!-- DROPDOWN MENU -->
    <% if user_signed_in? %>
      <div class="drop-menu">
        <div class="drop-menu-text">
        <%= link_to 'Messages', conversations_path %>
        </div>

        <div class="drop-menu-text">
        <%= link_to 'My profile', user_path(current_user) %>
        </div>

        <div class="drop-menu-text">
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </div>

      </div>
    <% end %>
</div>
