
<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  </div>

  <div class="form-actions">
    <%= f.input :name %>
    <%= f.input :options %>
    <%= f.input :number_players %>
    <%= f.input :number_guests %>
    <%= f.input :date %>
    <%= f.input :time %>
    <%= f.input :booked %>
    <%= f.input :tournament %>
    <%= f.input :about_game %>
    <%= f.association :course%>


    <%= f.button :submit %>
  </div>
<% end %>
