<div class="search-bar-container">
  <!-- FRIEND GAMES -->
  <% if user_signed_in? %>
    <%= link_to 'Show games of your buddies', games_buddies_path, class: "btn-friend-games" %>
    <%= link_to 'My golfy-wishlist', user_wishlist_path(current_user, @wishlist.ids), class: "btn-friend-games" %>
  <% end %>
  <!-- SEARCH BAR -->
  <div>
    <%= form_tag games_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-bar",
        placeholder: "Find a game"
      %>
    <% end %>
  </div>
</div>

<!-- DEBUT DES GAME CARDS -->
<div class="game-cards-container">
  <% @games.each do |game| %>
    <% if game.privacy != "private" || (game.privacy == "private" && game.user.friends_with?(current_user)) %>
      <%= link_to game_path(game), class: "game-card-link" do %>
        <div class="game-card">
          <img src="<%= game.course.attachments[0].photo.url %>" />
          <div class="game-card-infos">
            <div class="game-name-game-course">
              <h3><%= game.name %></h3>
              <h4><%= game.course.name %></h4>
            </div>
            <div class="date-time-buddies">
              <div class="date-time">
                <p><%= game.date %></p>
                <p><%= game.time %></p>
                <p><%= game.likes.count %> <%= (game.likes.count) == 1 ? 'Like' : 'Likes'%></p>
              </div>
               <!-- GAME BUDDIES -->
              <div class="buddies">
              <!-- GAME HOST -->
              <img src="<%= game.user.photo %>" class="game-card-user avatar-bordered" id="game-host" />
              <!-- GAME GUEST 1-->
              <% if game.guests[0].nil? %>
                <%= image_tag asset_path("available_spot.png"), class: "game-card-user avatar-bordered", id: "guest-1" %>
              <% else %>
                <%= cl_image_tag game.guests[0].user.photo, class: "game-card-user avatar-bordered", id: "guest-1" %>
              <% end %>
              <!-- GAME GUEST 2-->
              <% if game.guests[1].nil? %>
                <%= image_tag asset_path("available_spot.png"), class: "game-card-user avatar-bordered", id: "guest-2" %>
              <% else %>
                <%= cl_image_tag game.guests[1].user.photo, class: "game-card-user avatar-bordered", id: "guest-2" %>
              <% end %>
              <!-- GAME GUEST 3-->
              <% if game.guests[2].nil? %>
                <%= image_tag asset_path("available_spot.png"), class: "game-card-user avatar-bordered", id: "guest-3" %>
              <% else %>
                <%= cl_image_tag game.guests[2].user.photo, class: "game-card-user avatar-bordered", id: "guest-3" %>
              <% end %>
              </div>
            </div>



            <%#= link_to 'Show', game %>
            <%#= link_to 'Edit', edit_game_path(game) %>
            <%#= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>

          </div>
        </div>
        <% end %>
      <% end %>
  <% end %>
</div>

<!-- FIN DES GAME CARDS -->

<!--
<h1>My upcoming Games</h1>
  <div class="game-cards-container">
    <% if @upcoming_games.empty? %>
      <p>You don't have any game coming</p>
    <% else %>
      <% @upcoming_games.each do |up_game| %>
        <% up_game.guests.each do |guest| %>
          <% if guest || up_game.user == current_user %>
            <div class="game-card">
              <img src="<%= up_game.course.attachments[0].photo.url %>" />
              <div class="game-card-infos">
                <div>
                  <h2><%= up_game.name %></h2>
                  <p><%= up_game.date %></p>
                  <p><%= up_game.time %></p>
                </div>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="game-card-user avatar-bordered" />
              <%= link_to 'Show', up_game %>
              <%= link_to 'Edit', edit_game_path(up_game) %>
              <%= link_to 'Destroy', up_game, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<h1>My last Games</h1>
<% @past_games.each do |game| %>
  <% if @past_games.empty? %>
    <tbody>
      <p>No game</p>
  <% end %>
  <% game.guests.each do |guest| %>
    <% if guest || game.user == current_user %>
      <ul>
        <li><%= game.name %></li>
            <%= link_to 'Show', game %>
            <%= link_to 'Edit', edit_game_path(game) %>
            <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
        </ul>
      <% end %>
  <% end %>
<% end %>
<br>
 -->
