<p id="notice"><%= notice %></p>

<%= form_tag games_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a game"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<h1>Games</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <ul>
        <li><%= game.name %></li>
        <li>Course : <%= game.course.name %></li>
        <li>By : <%= "#{game.user.first_name} #{game.user.last_name}" %></li>
        <li>Options : <%= game.options %></li>
        <li>Number of players : <%= game.number_players %></li>
        <li>Number of guests : <%= game.number_guests %></li>

        <%= link_to 'Show', game %>
        <%= link_to 'Edit', edit_game_path(game) %>
        <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
      </ul>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
