<!-- SEARCH BAR -->
<div class="search-bar-container">
  <% if params[:game_query].present? %>
  <div class="params-all">
  <div class="params">
    <p>Date&nbsp&nbsp</p>
    <div class=" send-button-query">
      <%= params[:game_query][:date] %>
    </div>
  </div>

 <div class="params">
    <p>Location&nbsp&nbsp</p>
    <div class=" send-button-query">
      <%= params[:game_query][:location] %>
    </div>
  </div>
  </div>
  <% end %>

  <div>
    <%= form_tag games_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control search-bar",
      placeholder: "Find a game" %>
      <% end %>
</div>
</div>

  <!-- DEBUT DES GAME CARDS -->
<div class="game-cards-container min-height-container">
  <% @games.each do |game| %>
    <% if game.privacy != "private" || (game.privacy == "private" && game.user.friends_with?(current_user)) %>
      <%= link_to game_path(game), class: "game-card-link" do %>
        <div class="game-card">
          <img src="<%= game.course.attachments[0].photo.url %>" />
          <div class="game-card-infos">

            <div class="game-name-game-course">
              <h3><%= game.name %></h3>
              <h4><%= game.course.name %></h4>
            </div>


            <div class="date-time-buddies">
              <div class="date-time">
                <p><%= game.date %></p>
                <p><%= game.time.strftime("%H:%M") %></p>
                <p><b><%= game.likes.count %> <%= (game.likes.count) > 1 ? 'Likes' : 'Like'%></b></p>
              </div>
              <!-- GAME BUDDIES -->
              <div class="buddies">
                <!-- GAME HOST -->
                <% if !game.user.photo.blank? %>
                  <img src="<%= game.user.photo %>" class="game-card-user avatar-bordered" id="game-host" />
                <% else %>
                  <%= image_tag gravatar_image_url(game.user.email), class: "game-card-user avatar-bordered", id: "game-host" %>
                <% end %>

                <!-- LOOP DES GUESTS ET DU NOMBRE DE PLAYERS -->
                <% (game.number_players - 1).times do |i| %>
                  <% if game.guests[i].nil? %>
                    <%= image_tag asset_path("available_spot.png"), class: "game-card-user avatar-bordered", id: "guest-#{(i + 1)}" %>
                  <% elsif !game.guests[i].user.photo.blank? %>
                    <%= cl_image_tag game.guests[i].user.photo, class: "game-card-user avatar-bordered", id: "guest-#{(i + 1)}" %>
                  <% else %>
                    <%= image_tag gravatar_image_url(game.guests[i].user.email), class: "game-card-user avatar-bordered", id: "guest-#{(i + 1)}" %>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- FIN DES GAME CARDS -->
