<!-- SEARCH BAR
 <% if params[:game_query].present? %>
  <div class="params-all">
    <div class="params">
      <p>Date&nbsp&nbsp</p>
      <div class=" send-button-query">
        <%= params[:game_query][:date] %>
      </div>
    </div>

    <div class="params">
      <p>Location&nbsp&nbsp</p>
      <div class=" send-button-query">
        <%= params[:game_query][:location] %>
      </div>
    </div>
  </div>
  <% end %>

  <div>
    <%= form_tag games_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control search-bar",
      placeholder: "Find a game" %>
      <% end %>
    </div>
  -->

  <!-- NEW SEARCH BAR -->
  <div class="search-bar-container">

    <%= form_for_filterrific @filterrific do |f| %>
    <div class="params-all">
      <div class="params" id="search_games_field">
        Search by name <br>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed',
            placeholder: 'Game, Buddy,...'
            ) %>
          </div>

          <div class="params">
            Location <br>
            <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
            <%= f.text_field(
              :search_location,
              class: 'filterrific-periodically-observed',
                placeholder: 'City, Country,...'
                ) %>
              </div>

              <%# date %>
          <div class="params">
            Date <br>
            <%= f.text_field(:with_date,
              'id' => 'filterrific_with_date',
              'class' => 'datepicker datetimepicker-input',
              'data-target' => '#filterrific_with_date',
              'data-toggle' => 'datepicker')
              %>
            </div>

            <div class="params" id="sorted_games_dropdown">
              Sorted games by <br>
              <%= f.select(:sorted_by,
                @filterrific.select_options[:sorted_by]
              )%>
            </div>
    <!--
    <div class="params">
       Filter by course <br>
      <%= f.select(:with_course_id, @filterrific.select_options[:with_course_id], { :include_blank => '- Any -' }) %>
    </div>
  -->
            <div id="params-reset">
              <%= link_to(
                'Reset filters',
                reset_filterrific_url,
                ) %>
              </div>
              <%# add an automated spinner to your form when the list is refreshed %>
              <div class="params">
                <%= render_filterrific_spinner %>
              </div>
              <% end %>
            </div>
          </div>
    <%= render(
  partial: 'games/list',
  locals: { games: @games}
) %>

   <script type="text/javascript">
    $('[data-toggle="datepicker"]').datepicker({
        zIndex: 2048,
    });
  </script>
<%= javascript_pack_tag("datepicker") %>
