<p id="notice"><%= notice %></p>

<h1>Game details</h1>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>
<p>
  <strong>Options:</strong>
  <%= @game.options %>
</p>
<p>
  <strong>Hosted by:</strong>
  <a href="/users/<%= @game.user_id %>" > <%= @game.user.first_name %> <%= @game.user.last_name %></a>
  <%= gravatar_for @game.user%><br>
  <% unless current_user == @user %>
    <%= link_to 'Send message', new_message_path(to: @game.user.id), class: 'btn btn-outline-primary btn-sm' %>
  <% end %>
</p>
<p>
  <strong>Course:</strong>
  <%= link_to @game.course.name, @game.course %>
</p>
<p>
  <strong>Price:</strong>
  <%= @game.game_price %> $
</p>
<p>
  <strong>Number of players:</strong>
  <%= @game.number_players %>
</p>
<p>
  <strong>Number of guests:</strong>
  <%= @game.number_guests %>
</p>
<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>
<p>
  <strong>Time:</strong>
  <%= @game.time.strftime( "%H" + ":" + "%M" ) %>
</p>
<p>
  <strong>Booked:</strong>
  <% if @game.booked %>
    <span>Yes</span>
    <% else %>
    <span>No</span>
  <% end %>
</p>
<p>
  <strong>Tournament:</strong>
  <% if @game.tournament %>
    <span>Yes</span>
    <% else %>
    <span>No</span>
  <% end %>
</p>
<p>
    <strong>Privacy :</strong>
    <%= @game.privacy %>
</p>

  <% pre_like = @game.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', game_like_path(@game, pre_like), method: :delete %>
    <% else %>
      <% if user_signed_in? %>
        <%= button_to 'Like', game_likes_path(@game), method: :post %>
      <% end %>
    <% end %>

  <p><%= @game.likes.count %> <%= (@game.likes.count) == 1 ? 'Like' : 'Likes'%></p>


<% @attachments.each do |att| %>
  <%= image_tag att.photo_url %>
  <%= link_to "Edit Attachment", edit_game_attachment_path(att) %>
<% end %>
<% @game.guests.where(status: "confirmed").each do |guest| %>
  <p>
    <%= User.find(guest.user_id).first_name %> :
    <%= guest.share_of_price %> $
  </p>
  <% end %>

<% if current_user == @game.user   %>
  <% @game.guests.where(status: "pending").each do |guest| %>
  <p>
    <%= User.find(guest.user_id).first_name %>
    <%= link_to 'Approve', approve_user_path(guest.user_id) %> |

  </p>
  <% end %>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Delete', game_path(@game), method: :delete %> |
  <%= link_to 'Back', games_path %>
    <% else %>
    <% if user_signed_in? %>
      <% if  @game.number_players > @game.guests.count && !current_user.in_game?(@game) %>
        <%= link_to 'Join', game_guests_path(@game), method: :post %> |
      <% end %>
    <% end %>
<% end %>



