<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Set your golf style</h1>
          <%= simple_form_for @user do |f| %>
  <div class="row">
    <div class="form-group">
          <label class="control-label check_boxes optional">Styles</label>
          <input type="hidden" name="user[list_pref_ids][]" value="">

            <div class="preference-choices">
            <% ListPref.all.each do |list_pref| %>
            <input hidden type="checkbox" value="<%= list_pref.id %>" name="user[list_pref_ids][]" id="user_preference_ids_<%= list_pref.id %>">

            <label class="preference-choice" for="user_preference_ids_<%= list_pref.id %>">
            <%= list_pref.name %>
            <i class="fa fa-check"></i>
            </label>
    <% end %>
   </div>
</div>
        </div>
        <%= f.submit "Save", class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag("preference_choice") %>
