<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Golfy Buddy - Play more golf, everywhere</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= favicon_link_tag asset_path('Logo_Cercle_GolfyBuddy.png') %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
      <div class="page-header">
        <h1><%= yield :page_header %></h1>
      </div>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <!-- <%= render 'shared/flashes' %> Bug when decomment: flash messages display twice -->
    <div class="container">
      <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
    <% end %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
