<div class="background-color-form min-height-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 offset-sm-2">

        <h2 class="form-h2">Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs box-form">

                <div class="row">
                  <div class="col">
                    <!-- FIRST NAME -->
                    <%= f.input :first_name,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "first_name" }%>
                  </div>
                  <div class="col">
                    <!-- LAST NAME -->
                    <%= f.input :last_name,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "last_name" }%>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <!-- EMAIL -->
                    <%= f.input :email,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "email" }%>
                  </div>
                  <div class="col">
                    <!-- PASSWORD -->
                    <%= f.input :password,
                                required: true,
                                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                input_html: { autocomplete: "new-password" } %>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <!-- BIRTH DATE -->
                    <%= f.input :birth_date, as: :date,
                                  start_year: Date.today.year,
                                  order: [:day, :month, :year],
                                  html5: true %>
                  </div>
                  <div class="col">
                    <!-- HANDICAP -->
                    <%= f.input :handicap,
                                as: :float,
                                required: false,
                                autofocus: true %>
                  </div>
                  <div class="col">
                    <!-- GENDER -->
                    <%= f.input :gender,
                                :collection => [ "Female", "Male", "Other" ],
                                required: false %>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <!-- CURRENT CITY -->
                    <%= f.input :current_city,
                                required: false,
                                autofocus: true,
                                input_html: { id: "current_city" } %>
                  </div>
                  <div class="col">
                    <!-- LANGUAGE -->
                    <%= f.input :language,
                                :collection => I18nData.languages.values, selected: "English" %>
                  </div>
                </div>
                  <!-- ABOUT ME -->
                  <%= f.input :about_me,
                              required: false,
                              maxlength: 250,
                              autofocus: true,
                              as: :text,
                              input_html: { autocomplete: "about_me" }%>

                <!-- GOLF STYLE -->
                  <div class="form-post">
                    <div class="form-group">
                    <label class="control-label check_boxes optional">Golf style</label>
                    <input type="hidden" name="user[list_pref_ids][]" value="">
                      <div class="preference-choices">
                        <% ListPref.all.each do |list_pref| %>
                          <input hidden type="checkbox" value="<%= list_pref.id %>" name="user[list_pref_ids][]" id="user_preference_ids_<%= list_pref.id %>">
                          <label class="preference-choice" for="user_preference_ids_<%= list_pref.id %>">
                          <%= list_pref.name %>
                          <i class="fa fa-check"></i>
                          </label>
                        <% end %>
                      </div>
                    </div>
                  </div>
            <div class="form-actions row">
              <%= f.button :submit, "Sign up", id: "btn-form" %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag("preference_choice") %>
